body {
    margin: 0;
}

.title {
    width: 100%;
    height: 80px;

    position: fixed;
    left: 0;
    top: 0;

    background-color: rgb(142, 163, 183);
    text-align: center;
}
/* Zadaden Grid layout, shirina, margina za da se odvoi od fixed title, stavena template za kolku koloni i redici kje ima. */
.container {
    display: grid;
    width: 100%;
    margin-top: 80px;

    grid-template-columns: 20% 80%;
    grid-template-rows: auto 50px;
    grid-template-areas: 
        'side main'
        'footer footer';
}
/* sidebar so svoj grid layout, i zadaden template od edna colona koja se povtoruva 4 pati so ista visina, items pozicionirani
vo sredina, zadadena shirina i visina i fixed position */
.sidebar-container {
    grid-area: side;

    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: repeat(4, 50px);
    align-items: center;

    height: 590px;
    border-right: 1px solid black;
    background-color: rgb(246, 246, 246);

    position: fixed;
    width: 20%;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.logo {
    margin-top: 2px;
    width: 30px;
    height: 30px;
}
/* main content so svoj grid layout koj ima edna kolona koja se povtoruva 3 pati vo redici so auto odredena visina */
.main-content-container {
    grid-area: main;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);

    background-color: rgb(246, 246, 246);
}
/* sekoj block vo main gridot ima max content za da si odredi sam kolkav bi bil contentot */
.posts-content {
    height: max-content;
    margin: 30px 50px;

    border: 1px solid black;
}
/* profile blockovite imaat svoj grid layout so 2 koloni i edna redica za da gi odvoi profile slikicnata i profile info */
.profile {
    margin: 30px;

    display: grid;
    grid-template-columns: 15% 80%;
}

.profile-img img {
    height: 50px;
    width: 50px;
}

.profile-article {
    margin: 30px 50px;
}

.profile-post img {
    height: 600px;
    width: 100%;
}
/* footer so fixed pozicija */
.footer {
    grid-area: footer;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;

    background-color: rgb(142, 163, 183);
    text-align: center;
}
